.containe {
    background-color: rgb(73, 155, 73);
    color: aliceblue;
    padding: 10px 0;
    text-decoration: none;
    
}

.containe h3 {
    padding-bottom: 10px;
}

.containe ul {
    list-style-type: none;
}

.one li{
    text-align: left;
    margin-left: 225px;
}

.two li{
    text-align: center;
}

.three li{
    text-align: left;
    margin-left: 225px;
}